@import "styles/variables.module";

.FAGSection{
  @include container;

  >h2{
    max-width: 600px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }

}
.FAGInfo{
  display: flex;
  >div{
    > button {
      background-color: $color-bg;
      max-width: 703px;
      height: 62px;
      width: 100%;
      padding: 24px;

    }
    >p{
      @include description;
    }
  }
}
.FAGCollapse{
  width: 703px;
  height: 62px;
  content: ' ';
  display: block;
  position: absolute;
  background: url('/public/assets/svg/SubtractFAQ.svg') no-repeat;

  >h4{
    color: inherit;
    background: rgba(255, 255, 255, 0.05);
  }
}