@import "styles/variables.module";

.stepsSection{
  @include container;
  position: relative;
  padding-bottom: 180px;

  >h2{
    text-align: center;
    padding-bottom: 56px;
  }
  >div:nth-child(3){
    padding-top: 50px;
  }
  >div:nth-child(4){
    padding-top: 50px;
  }
}
.stepsWrapper{
  display: flex;
  >div:nth-child(3){
    padding-top: 90px;
  }
}
.stepsBorder {
  position: absolute;
  right:0;
  bottom: -16px;
}

.arrowLeft{
  top: 85px;
  position: absolute;
  right: 0;
}
.arrowRight{
  top: 85px;
  position: absolute;
  right: 0;
}
.stepsLineWrapper{
  padding-left: 120px;
  padding-right: 144px;

}
.stepsLine{
  position: absolute;
  width: 877px;
  height: 4px;
  left: 14%;
  top: 53%;
  background: $gradient3;
  transform: rotate(90deg);
}