@import "styles/variables.module";

.stepsSection{
  @include container;
  position: relative;
  padding-bottom: 180px;

  >h2{
    text-align: center;
    padding-bottom: 56px;
  }
}
.stepsBorderWrapper {
  position: relative;
  max-width: 507px;
  width: 100%;
}

.stepsBorder {
  position: absolute;
  right:0;
  bottom: -16px;
}
.stepsRight{
  position: absolute;
  right: 0;
  top: -14px;
}
.stepsLeft{
  position: absolute;
  left: -22px;
  top: -14px;
}
.stepsLine{
  position: absolute;
  width: 877px;
  height: 4px;
  left: 14%;
  top: 45%;
  background: $gradient3;
  transform: rotate(90deg);
}
