@import "styles/variables.module";
.programmingSection{
  @include container;
  padding: 179px 0 184px 0;
height: 516px;

  >h2{
    text-align: center;
    display: flex;
    max-width: 543px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 16px;
  }

}
.programmingDescription{
  @include description;
  max-width: 432px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 54px;
}