@import "styles/variables.module";
.stepBorder{
  max-width: 475px;
  width: 100%;
  padding: 3px;
  position: relative;
  background: $gradient1;
  border-radius: 8px;
}
.step{
  background: $color-bg;
   padding: 22px;
}
.stepName{
  padding-bottom: 16px;
}
.stepTitle{
  padding-bottom: 16px;
}
.stepDescription{
  @include description;
  color: $color-text;
}
.stepBorderWrapper {
  position: relative;
  max-width: 507px;
  width: 100%;
}
.stepRight{
  position: absolute;
  left: 370px;
  top: 123px;
}
.stepLeft{
  position: absolute;
  left: 710px;
  top: 212px;
}
