@import "styles/variables.module";

.titleSection {
  @include titleMain;
  position: relative;
  height: 700px;

}
.titleImg {
  width: 100%;
  padding-top: 125px;
  height: 100%;
  top: 3px;
  position: absolute;
  background-image: url('~/public/assets/svg/bg.svg');
  background-repeat: no-repeat;
  >div{
    @include container;
    width: 100%;
    >div{
      display: flex;
      align-items: center;
    }
  }
}

.titleSmall {
  display: flex;
  justify-content: end;
  padding-right: 200px;
}

.description {
  @include description;
  max-width: 340px;
  width: 100%;
  margin-left: 57px;
}

.button {
  width: 288px;
  height: 72px;
  background: linear-gradient(180deg, #1FF2FF 0%, #27F9E5 52.66%, #2FFFCD 100%);
  border-radius: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-right: 24px;

}