$color-white : #FFFFFF;
$color-primary80: #3B48D0;
$color-primary100: #0A1482;
$color-error: #FD4646;
$color-border: #636363;
$color-text: #A2CBFB;
$color-clean5: rgba(255, 255, 255, 0.05);
$color-bg: #0C102D;
$gradient1: linear-gradient(152.14deg, rgba(21, 191, 253, 0.7) 9.96%, rgba(156, 55, 253, 0.7) 100%);
$gradient2: linear-gradient(90deg, rgba(21, 191, 253, 0) 8.03%, rgba(21, 191, 253, 0.7) 69.15%, rgba(156, 55, 253, 0.7) 97.95%);
$gradient3: linear-gradient(180deg, #1FF2FF 0%, #27F9E5 52.66%, #2FFFCD 100%);

@mixin titleMain{
  font-family: 'Clash Display', serif;
  font-style: normal;
  font-weight: 600;
  font-size: 150px;
  line-height: 120%;
  display: flex;
  align-items: center;
  color: $color-white;
}
@mixin baseButton{
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  display: flex;
  align-items: center;
  color: $color-white;
  background-color: $color-bg;
  cursor: pointer;
  border: 0;
  padding: 0;
}
@mixin description{
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  display: flex;
  align-items: center;
  color: $color-white;
}